.flex.flex-wrap{:class => "w-1/4"}
  .w-full.p-1.md:p-2
    = link_to image, download: true do
      = image_tag rails_storage_redirect_path(image), class: "block object-cover object-center w-full h-full rounded-lg"

